body {
    padding-top: 40px;
}

.topbar .picture {
    padding-top: 8px;
}

.content {
    padding-top: 10px;
}

.exchange {
    padding-right: 14px;
}

.exchange .btn-group {
    border-color: #BBB;
}

.exchange .btn {
    background-image: none;
}
