<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cobe Instaweb</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='cobe.css') }}" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='cobe.js') }}" type="text/javascript"></script>

  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ url_for('base.index') }}">Cobe Caucus</a>

          <ul class="nav">
{% if user %}
            <li><a href="{{ url_for('base.recent') }}">Recent</a></li>
{% endif %}
          </ul>

          <ul class="nav secondary-nav">
{% if user %}
            <li><div class="email"><a href="#">{{ user.email }}</a></div></li>
            <li><div class="picture"><img height='24' width='24' src='http://www.gravatar.com/avatar/{{ user.email|md5 }}'></img></div></li>
            <li><div class="login"><a href="{{ url_for('base.logout') }}">Sign out</a></div></li>
{% else %}
            <li><div class="login"><a href="#" onclick="onLoginClicked(); return false;">Sign in</a></div></li>
{% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="alert-message alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}

{% block content %}
        <div class="page-header">
          <h1>Welcome</h1>
        </div>
{% endblock %}
      </div>

      <footer>
      </footer>
    </div>

  </body>
</html>
